black==23.3.0
isort==5.12.0
pydantic==1.10.9
pylint==2.17.4
pyTelegramBotAPI==4.10.0
telebot-models @ https://github.com/Appuxif/telebot_models/archive/refs/tags/1.0.0.tar.gz
asyncio-functools @ https://github.com/Appuxif/asyncio_functools/archive/refs/tags/0.0.1.tar.gz
